#!/bin/bash

# Create a new directory and enter it
function md() {
  mkdir -p "$@" && cd "$@"
}

# Open new tab
new_tab() {
        pwd=`pwd`
        osascript -e "tell application \"Terminal\"" \
        -e "tell application \"System Events\" to keystroke \"t\" using {command down}" \
        -e "do script \"cd $pwd; clear; $1;\" in front window" \
        -e "end tell"
        > /dev/null
}

# Start working on project
function startproject() {

  cd "$1"  

  read -p "Run Compass Watch? ( path/to/compass/ | n ) " watchCompass
  if [ "$watchCompass" != 'n' ]; then
    echo 'Opening new tab to watch Compass...'
    new_tab "cd $watchCompass; compass watch"
  fi

  read -p "Start Node server? ( Y ) " startNode
  if [ "$startNode" == 'Y' ]; then
    echo 'Starting node server...'
    new_tab "node server"
  fi

  subl .

  clear

  git s
  
}


# find shorthand
function f() {
    find . -name "$1"
}

# take this repo and copy it to somewhere else minus the .git stuff.
function gitexport(){
  mkdir -p "$1"
  git archive master | tar -x -C "$1"
}

# get gzipped size
function gz() {
  echo "orig size    (bytes): "
  cat "$1" | wc -c
  echo "gzipped size (bytes): "
  gzip -c "$1" | wc -c
}
